body{
    background-color: hsl(0, 0%, 8%)
}
.grosse-boite {
    display: flex;
    flex-flow: column;
    background-color: hsl(0, 0%, 12%);
    margin-left:auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 60%;
    border-radius: 15px 15px 15px 15px;
    padding-bottom: 4%;
}
img{
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 10%;
}
h1{
    color: hsl(0, 0%, 100%);
    font-family: Inter;
    font-weight: 700;
    font-size: xxx-large;
    text-align: center;
    margin-bottom: 0cm;
}
h2{
    color: hsl(75, 94%, 57%);
    font-family: Inter;
    font-weight: 600;
    font-size:xx-large;
    text-align: center;
    
}
p{
    color: hsl(0, 0%, 100%);
    font-family: Inter;
    font-weight: 400;
    font-size: 90%;
    font-size: xx-large;
    text-align: center;
}
.social-link{
    background-color: hsl(0, 0%, 20%);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 15px;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 4%;
    color: hsl(0, 0%, 100%);
    font-family: Inter;
    font-weight: 600;
    font-size: x-large;
    text-decoration: none;
}

.social-link:hover{
    background-color:hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
}
.social-link:focus{
    background-color:hsl(0, 0%, 20%);
    color: hsl(75, 94%, 57%);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }